.why-choose {
  max-width: 80%;
  margin: 40px auto;
  padding: 0 20px;

  background-color: #ffffff;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
}

.section-description {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.feature-card {
  background-color: #ebebeb3c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid transparent;
  text-align: left;
}

.feature-card:hover {
  background-color: white;
  border: 1px solid #ff5722; /* orange outline */
  box-shadow: 0 8px 20px rgba(164, 164, 164, 0.5); /* orange glowing shadow */

  cursor: pointer;
}

.feature-card:hover .feature-icon {
  color: white;
  background-color: #ff5722;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.feature-card h3 {
  color: #000000;
  margin-bottom: 10px;
  font-weight: 500;
}

.feature-card p {
  color: #444;
}
.feature-icon {
  font-size: 25px; /* increase this number to make icon bigger */

  color: #ff5722;
  margin-bottom: 15px;
  background-color: #fdefd6;
  padding: 20px;
  border-radius: 12px;
}
